@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* 1382, 992, 768, 480 */

$break-large: 1382px;
$break-small: 768px;

$color-bg: #417b4f;

$color-1: #b5d122;
$color-2: #76bc51;
$color-3: #c4c23c;
$color-4: #e1a000;


@font-face {
    font-family: SansPro;
    src: url("/fonts/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: SansPro;
    font-weight: bold;
    src: url("/fonts/SourceSansPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: SansProBlack;
    src: url("/fonts/SourceSansPro-Black.otf") format("opentype");
}


@font-face {
    font-family: SansProSemibold;
    src: url("/fonts/SourceSansPro-Semibold.otf") format("opentype");
}

body {
    font-family: SansPro;
}

.text-center {
    text-align: center;
    width: 100%;
    padding: 10px 15px;
    position: absolute;
    left: 0;

    .heading {
        font-weight: bold;
        font-size: 32px;
        padding-bottom: 10px;
    }
}

@media(max-width: $break-small) {
    .text-center {

        .heading {
            font-size: 24px;
        }
    }
}

.block {
    font-family: SansPro, Helvetica;
    font-size: 16px;
    color: #FFF;
    position: relative;

    &.block-text {
        background-color: $color-bg;
    }

    &.block-one {
        background-color: $color-1;
    }

    &.block-two {
        background-color: $color-2;

        .text-center {
            bottom: 10px;
        }

    }

    &.block-three {
        background-color: $color-3;

        .text-center {
            bottom: 10px;
        }
    }

    &.block-four {
        background-color: $color-4;
    }

    &.block-five {
        background-color: #FFF;
        color: $color-bg;
    }

    h1 {
        font-family: SansProSemibold, Helvetica;
        text-align: center;
    }

    h1,
    .sub-block,
    .header-link a {
        margin-bottom: 30px;
    }

    .header-link {
        a {
            font-size: 1.4em;
            color: #FFF;
            text-decoration: underline;
            display: inherit;
            text-align: center;

            &:hover {
                color: $color-bg;
            }
        }
    }

    &#contacts {
        padding: 20px 0;

        .col-sm-4 {
            padding: 0;
        }
    }

    &#order {
        .col-md-8 {
            padding: 0;
        }
    }
}

.navbar-pellco {
    margin-bottom: 0;

    .navbar-brand {
        font-size: 28px;
        font-family: SansProBlack, Helvetica;
    }

    ul.nav li {
        font-size: 20px;
        font-family: SansPro, Helvetica;
    }

    a.navbar-brand,
    .navbar-nav li a {
        color: #104f35;
        line-height: 19px;

        &:hover {
            background-color: initial !important;
            color: $color-1;
        }
    }
}

.separator {
    margin: 10px;
}

form {
    .btn {
        width: 100%;
        margin-bottom: 40px;
    }

    .product-row {
        padding: 0;
    }
}

.popup {
    background-color: #6db420;
    border: 1px solid #FFF;
    border-radius: 5px;
    text-align: center;
    color: #FFF;
    position: fixed;
    width: 350px;
    padding: 40px;
    margin: auto auto;
    top: 0;
    left: 0;
    display: none;

    .ok-btn {
        width: 100px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
    .form-horizontal {
        .control-label {
            text-align: left;
        }
    }
}

.img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 0;
}

.img-1 {
    padding-top: 40%;
}

.img-2 {
    padding-top: 63%;
    min-height: 250px;
}

.img-3 {
    padding-top: 60%;
    min-height: 250px;
}

@for $i from 1 through 3 {

    @media(min-width: $break-large) {
        .img-#{$i} {
            background-image: url('/img/img0#{$i}_2560');
        }
    }

    @media(min-width: $break-small) and (max-width: $break-large) {
        .img-#{$i} {
            background-image: url('/img/img0#{$i}_1382');
        }
    }

    @media(max-width: $break-small) {
        .img-#{$i} {
            background-image: url('/img/img0#{$i}_768');
        }
    }
}